.button{
    padding: 10px 40px;
    border: none;
    background-color: rgb(139, 48, 225);
    border-radius: 20px;
    margin: 30px 0px;
    color: white;
    font-size: 21px;
    transition: all ease-in ;
}
.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  .button:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }