.App {
  text-align: center;
  height: 100vh;
  background-color:rgb(116, 94, 225);
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.app-inner{
  width:35vw;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

